<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/mainlayout}"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<title>Signup</title>
</head>
<body>

	<div layout:fragment="content" class="md-outlined-form" id="signup-form">
		<div class="container py-0 py-md-4">
			<div class="row py-3 d-flex justify-content-center">
				<div class="col-lg-7 col-xl-6 col-md-9 py-5">
					<div class="mdc-card text-center px-4 py-5 px-sm-5 mx-2 mt-5" data-aos="zoom-in" data-aos-duration="800">
						<h3>Sign up</h3>
						<form th:action="@{/signup}" th:object="${user}" method="post" autocomplete="off">
							<div class="my-4 py-1">
								<div th:replace="components/input::MDCTextField(name='name', 
									variant = 'outlined', class='user-name-field')">
								</div>
								<div class="mdc-text-field-helper-line visible" th:each="error: ${#fields.errors('name')}">
				                    <div class="mdc-text-field-helper-text mdc-text-field-helper-text--persistent" 
				                    	th:text="${error}">Invalid username !
				                    </div>
				                </div>
							</div>
							<div class="my-4 py-1">
								<div th:replace="components/input::MDCTextField(name='password',
									variant = 'outlined', type = 'password', class='password-field')">
								</div>
								<div class="mdc-text-field-helper-line visible" th:each="error: ${#fields.errors('password')}">
				                    <div class="mdc-text-field-helper-text mdc-text-field-helper-text--persistent" 
				                    	th:text="${error}">Invalid password !
				                    </div>
				                </div>
							</div>
							<div class="my-4 py-1">
								<div th:replace="components/input::MDCTextField(name='confirmPassword',
									variant = 'outlined', type = 'password', class='confirm-password-field')">
								</div>
								<div class="mdc-text-field-helper-line visible" th:each="error: ${#fields.errors('confirmPassword')}">
				                    <div class="mdc-text-field-helper-text mdc-text-field-helper-text--persistent" 
				                    	th:text="${error}">Password must be confirmed !
				                    </div>
				                </div>
							</div>
							<div class="container-fluid mt-3">
								<div class="row d-flex justify-content-sm-between align-items-sm-center">
									<div class="col-12 col-sm-7 pl-sm-0 terms">
										<div class="mb-0 text-sm-left d-flex align-items-start">
											<div th:replace="components/base::MDCCheckbox(name='terms')"></div>
											<label class="mb-0 mt-1">I agree with the KomiBank 
												<a href="#">terms and conditions</a>
											</label>
										</div>
									</div>
									<div class="col-12 col-sm-5 pt-3 pt-sm-0 pr-sm-0 text-sm-right">
										<div th:replace="components/base::MDCButton(text='Register', 
											class='submit-button', type='submit')">
										</div>
									</div>									
								</div>
								<div class="row mt-4 d-flex justify-content-center">
									<div class="col">
										<label class="mb-0">Already a KomiBank registered user ?
											<a href="@{/login}">Login</a>
										</label>
									</div>
								</div>
								
								<!-- Terms error handling -->
								<div class="row mt-3 d-flex justify-content-center" th:each="error: ${#fields.errors('terms')}">
									<div class="col-xs-12" >
					                    <p class="text-warning" th:text="${error}">You must accept terms !</p>
					                </div>
								</div>
								
								<!-- Global error handling -->
								<div class="row mt-3 d-flex justify-content-center" th:if="${#fields.hasGlobalErrors()}">
									<div class="col-xs-12">
										<p class="text-warning" th:each="error : ${#fields.errors('global')}"
											th:text="${error}">Validation error
										</p>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- Thymeleaf JS process -->
	
	<th:block layout:fragment="inlineScripts">
	    <script th:inline="javascript">
	    	var userSignUpSuccess = /*[[ ${param.success}]]*/ null;
		</script>
     </th:block>
</body>
</html>