<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/mainlayout}">
<head>
<title>Accounts</title>
</head>
<body>
	<!-- Content -->
	<div layout:fragment="content" class="banking-admin" th:id=${pageId} 
		th:classappend="${pageClass != null ? pageClass : ''}">
		<div class="container-fluid py-4 px-5 header">
			<div class="row">
				<div class="col text-center">
					<h2 th:text=${pageTitle}>Accounts</h2>
				</div>
			</div>
			<div layout:fragment="searchContainer">
			</div>
		</div>

		<div class="container pt-3 pb-5">
			<div class="row py-3 actionButtons">
				<div class="col-md d-flex justify-content-center">
					<div th:replace="components/base::MDCButton(text='Add', class='add-button')"></div>
				</div>
				<div class="col-md d-flex justify-content-center">
					<div th:replace="components/base::MDCButton(text='Edit', class='edit-button')"></div>
				</div>
				<div class="col-md d-flex justify-content-center">
					<div th:replace="components/base::MDCButton(text='Delete', class='delete-button')"></div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div layout:fragment="leftContent"></div>
				</div>
				<div class="col-md-6">
					<div layout:fragment="rightContent"></div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>