/***************************************************************************
 *                                                                         *
 * Commons style                                                           *
 *                                                                         *
 **************************************************************************/

.banking-admin {
    background: #F2F2F2;

    .search-form {
        max-width: 250px;
        @media (min-width: 576px) {
            & {
                max-width: 300px;
            }
        }
    }
    .mdc-button {
        @include mdc-button-horizontal-padding(22px);
        @include mdc-button-container-fill-color($primary-color);
        @include mdc-button-ink-color(white);
        // Disable background-focused color
        &.mdc-ripple-upgraded--background-focused::before,
        &:not(.mdc-ripple-upgraded):focus::before {
            opacity: 0;
        }
    }
    .mdc-card {
        .card-header {
            border-bottom: none;
            background-color: #5f9ea0;
            color: white;
            padding: 4px 20px;
            border-radius: 4px 4px 0 0;
            transition: padding .5s ease-in-out;
            .mdc-menu {
                .mdc-list-item {
                    height: 35px;
                }
                .mdc-list-item--disabled {
                    color: $primary-color;
                }
            } 
        }
        .card-body {
            label {
                font-weight: 400
            }
        }
    }
    .mdc-fab {
        @include mdc-fab-icon-size(20px);
        width: 45px;
        height: 45px;
    }
    .table {
        th:first-child, td:first-child, th:last-child, td:last-child {
            position: sticky;
            background-color: white;
        }
        thead th {
            padding-top: 20px;
        }
        th:first-child, td:first-child {
            left: 0px;
            padding-left: 20px;
        }
        th:last-child, td:last-child {
            right: 0px;
            padding-right: 20px;
        }
        .action-col svg {
            vertical-align: top;
        }
        td, th {
            vertical-align: middle;
        }
        td {
            padding-top: 4px;
            padding-bottom: 4px;
        }
        @media (max-width: 767px) {
            .mdc-icon-button {
                @include mdc-icon-button-size(20px, 20px, 4px);
            }
        }
    }
}

/***************************************************************************
 *                                                                         *
 * accounts-page style                                                     *
 *                                                                         *
 **************************************************************************/

#accounts-page {
    background-color: #FAFAFA;
    .table {
        tbody tr {
            cursor: pointer;
        }
    }
    .header {
        background-color: cadetblue;
        color: white;
    }
    .mdl-textfield {
        width: 100%;
        @include mdl-field-colors(white, white, lighten(gainsboro, 5), $secondary-color);
        .mdl-textfield__error {
            font-size: 14px;
            color: yellow;
        }
        &.mdl-textfield--floating-label.is-dirty, &.mdl-textfield--floating-label.is-focused {
            .mdl-textfield__label {
                top: 8px;
            }
        } 
    }
}

/***************************************************************************
 *                                                                         *
 * customer page style                                                     *
 *                                                                         *
 **************************************************************************/

#customers-page {
    .search-form {
        max-width: 100%;
        @media (min-width: 576px) {
            & {
                max-width: 100%;
            }
        }
    }
    #customers-header {
        h4 {
            color: rgba(0, 0, 0, 0.7);
        }
    }
    .mdl-textfield {
        width: 100%;
        @include mdl-field-colors(rgba(0, 0, 0, 0.8), $secondary-color, gainsboro);
        &:not(.is-focused) .mdl-textfield__label {
            color: rgba(0, 0, 0, 0.5);
        }
        &.mdl-textfield--floating-label.is-dirty, &.mdl-textfield--floating-label.is-focused {
            .mdl-textfield__label {
                top: 8px;
            }
        } 
    }
    .table {
        th:last-child, td:last-child {
            position: relative;
            background-color: white;
        }
        th:last-child, td:last-child {
            right: inherit;
        }
        td {
            padding-top: 0.75rem;
            padding-bottom: 0.75rem;
        }
        thead {
            color: rgba(0, 0, 0, 0.7);
        }
    }
    .mdc-button {
        @include mdc-button-container-fill-color($secondary-color);
    }
}

/***************************************************************************
 *                                                                         *
 * account profile page style                                              *
 *                                                                         *
 **************************************************************************/

 .account-profile {
    .profile-header {
        color: white;
        .row {
            background: $primary-color;
            height: 140px;
        }
        .row ~ .row {
            background: cadetblue;
        }
    }
    .avatar-circle {
        width: 100px;
        height: 100px;
        background: #6d7073;
        border: 4px solid white;
        border-radius: 50%;
        font-size: 2rem;
        font-weight: 400;
        color: white;
        position: relative;
        top: 70px;
    }
}

/***************************************************************************
 *                                                                         *
 * user accounts page style                                              *
 *                                                                         *
 **************************************************************************/

.user-accounts {
    .avatar-circle {
        border: 4px solid gainsboro;
        color: gainsboro;
    }
    .profile-header h2 {
        color: gainsboro;
    }
}