#main-menu {
    font-weight: 400;
    background-color: rgba($primary-color, 0.6);
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    transition: top .3s ease-in-out, background .5s ease-in-out, padding .5s ease-in-out;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);

    &:not(.navbar-at-top) {
        background-color: $primary-color;
        padding-top: 7px;
        padding-bottom: 7px;
    }

    &.navbar-at-top {
        background-color: rgba($primary-color, 0.6);
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
    }
        
    &.navbar-dark .navbar-nav .nav-link, .nav-link {
        color: white;

        &:hover {
            color: rgba(255, 255, 255, .8);
        }
    }
    .mdc-button {
        @include mdc-button-ink-color(white);
        @include mdc-button-outline-color(white);
        @include mdc-button-container-fill-color(seagreen);
        height: 34px;
        &.logout {
            @include mdc-button-container-fill-color($primary-color);
        }
    }
    &.navbar-dark .navbar-toggler {
        border-color: transparent;
    }

    @media screen and (min-width: 767px) {
        .navbar-brand img {
            margin-top: -16px;
        }
    }

    @media screen and (max-width: 767px) {
        &.navbar-at-top {
            background-color: $primary-color;
            padding-top: 7px;
            padding-bottom: 7px;
        }
    }
}
