#add-account {
    background-image: url('../images/open-account.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    @media screen and (max-width: 576px) { 
        & {
            background: linear-gradient(180deg, darken($primary-color, 20%),rgba($primary-color, 0.1));
        }
    }
    @media screen and (max-width: 767px) { 
        & {
            background-position: top left;
        }
    }
    .header {
        color: white;
    }
    .mdc-text-field {
        width: calc(100% - 50px);
        &.mdc-text-field--focused {
            @include mdc-text-field-focused-outline-color($secondary-color);
            @include mdc-text-field-label-color($secondary-color);
        }
    }
    .mdc-text-field-helper-text {
        color: red;
        width: calc(100% - 50px);
        text-align: left !important;
        padding-left: 25px;
        padding-right: 25px;
    }
    .submit-button {
        @include mdc-button-container-fill-color($secondary-color);
        width: calc(100% - 50px);
        height: 44px;
        display: block;
    }
    @media screen and (max-width: 576px) { 
        .mdc-text-field, .mdc-text-field-helper-text, .submit-button {
            width: calc(100%);
        }
    }
    .mdc-card {
        background-color: #f9f9f9;
        box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    }
}