@import "./commons";
@import "@material/button/mdc-button";
@import "@material/card/mdc-card";
@import "@material/list/mdc-list";
@import "@material/menu-surface/mdc-menu-surface";
@import "@material/menu/mdc-menu";
@import "@material/icon-button/mdc-icon-button";
@import "@material/textfield/mdc-text-field";
@import "@material/tab-bar/mdc-tab-bar";
@import "@material/tab-scroller/mdc-tab-scroller";
@import "@material/tab-indicator/mdc-tab-indicator";
@import "@material/tab/mdc-tab";
@import "@material/fab/mdc-fab";
@import "@material/form-field/mdc-form-field";
@import "@material/checkbox/mdc-checkbox";
@import "@material/snackbar/mdc-snackbar";
@import "./components/inputs";
@import "./layout";
@import "./navbar";
@import "./footer";
@import "./banking-admin";
@import "./add-operations";
@import "./md-outlined-form";

// To remove all dotted outline around all clicked elements in html
*, *:active, *:focus, *.focus, *.focus:active, *.active:focus, *:active:focus, *.active.focus {
	outline: none !important;
}

html {
	// Smooth scrolling on the whole document
	scroll-behavior: smooth; 
	@media screen and (prefers-reduced-motion: reduce) {
		& {
			scroll-behavior: auto;
		}
	}	
}

body {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;

	> .container-fluid {
		overflow-x: hidden; // Disable horizontal scrolling
	}
}

/***************************************************************************
 *                                                                         *
 * FULL HEADER  PAGE                                                       *
 *                                                                         *
 **************************************************************************/

.full-header-page {
	min-height: 100%;
	height: 100%;
	.carousel, .carousel-inner, .carousel-item {
		min-height: 100%;
		height: 100%;
	}
	@media screen and (max-height: 500px) { 
		& {
			min-height: 500px !important;
		}
	}
	@media screen and (max-width: 767px) { 
		& {
			margin-top: 54px; // 54px is the navbar height
			min-height: calc(100% - 54px);
			height: calc(100% - 56px);
		}
	}
	.carousel-item .cover-pane {
		background-color: rgba($primary-color, 0.5);
		background: linear-gradient(20deg, darken($primary-color, 20%),rgba($primary-color, 0.1));
	}
	.carousel-item {
		background-position: top center;
		background-repeat: no-repeat;
		background-size: cover;
	}
	#home-carousel-1 {
		background-image: url('../images/welcome.jpg');
		.mdc-button {
			height: 40px;
			@include mdc-button-horizontal-padding(20px);
			@include mdc-button-container-fill-color($primary-color);
			@include mdc-button-ink-color(white);
			// Disable background-focused color
			&.mdc-ripple-upgraded--background-focused::before, &:not(.mdc-ripple-upgraded):focus::before {
				opacity: 0;
			}
		}
	}
	#home-carousel-2 {
		background-image: url('../images/stay-connected.jpg');
	}
	.carousel-indicators li {
		width: 10px;
		height: 10px;
		border-radius: 100%;
	}
	.carousel-caption {
		right: 12%;
		bottom: 3rem;
		left: 12%;
		padding: 0;
	}
}

/***************************************************************************
 *                                                                         *
 * FEATURES SECTION                                                        *
 *                                                                         *
 **************************************************************************/

.features-header p {
	color: rgba(0,0,0,0.5);
	font-size: 18px;
}

.features-content {
	padding-bottom: 54px;
	.material-icons {
		font-size: 60px;
		color: $secondary-color;
	}
	h4 {
		color: rgba(0,0,0,0.6);
		font-weight: 700;
	}
	p {
		color: rgba(0,0,0,0.5);
	}
	.mdc-button {
		@include mdc-button-outline-color($secondary-color);
		@include mdc-button-ink-color($secondary-color);
	}
}

/***************************************************************************
 *                                                                         *
 * ACCOUNTS SECTION                                                        *
 *                                                                         *
 **************************************************************************/

 #accounts-header {
	 padding-top: 50px;
	 background-color: #f7f7f7;
 }
.accounts {
	background-color: #f7f7f7;
	.mdc-card {
		max-width: 450px;
		.title {
			font-weight: 500;
			letter-spacing: .0125em;
			font-size: 1.25rem;
		}
		.subtitle {
			color: rgba(0,0,0,.54);
			font-size: .875rem;
			font-weight: 500;
		}
		.mdc-button {
			@include mdc-button-ink-color($secondary-color);
		}
		.more-text {
			display: none;
		}
		.mdc-card__media {
			transition: transform 0.5s ease-in-out;
		}
		&:hover .mdc-card__media {
			transform: scale(1.03);
		}
	}
}
