<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- MDLTextField -->

<div th:fragment="MDLTextField" th:with="type=${type} ?: 'text', clearable=${clearable} ?: 'false', 
	showError=${showError} ?: 'false'"
	th:id=${id} class="mdl-textfield mdl-js-textfield " 
	th:classappend="${(class != null ? class : '')
					+ (label != null ? ' mdl-textfield--floating-label' : '')
					+ (leadingIcon != null ? ' mdl-textfield--with-leading-icon' : '')
					+ (trailingIcon != null or clearable == 'true' ? ' mdl-textfield--with-trailing-icon' : '')}">
	
	<input th:placeholder="${label != null ? placeHolder : ''}" th:type=${type} class="mdl-textfield__input" 
		th:name=${name} th:id=${name} th:pattern=${pattern} th:value=${value}> 
	
	<label class="mdl-textfield__label" style="margin-bottom: 0" th:for=${name} 
		th:text="${label ?: placeHolder}">Label</label>
		
	<span class="mdl-textfield__error " 
		th:classappend="${pattern != null ? '' : showError ? 'visible' : 'invisible'}"
		th:text="${errorMsg}">Error in input field !</span>
		
	<i th:if="${leadingIcon != null}" th:text="${leadingIcon}" class="material-icons mdl-textfield__icon leading-icon" 
		tabindex="0" role="button">search</i>
	
	<i th:if="${trailingIcon != null or clearable == 'true'}" class="material-icons mdl-textfield__icon trailing-icon" 
		th:classappend="${clearable == 'true' ? ' clear-icon' :  ''}" 
		th:text="${trailingIcon}" tabindex="0" role="button">clear</i>
</div>

<!-- MDCTextField -->

<div th:fragment="MDCTextField" th:with="type=${type} ?: 'text', variant=${variant} ?: 'default'" 
	th:id=${id} class="mdc-text-field " 
	th:classappend="${(class != null ? class : '')
					+ (variant == 'textarea' ? ' mdc-text-field--textarea' : '')
					+ (variant == 'outlined' ? ' mdc-text-field--outlined' : '')}">
	
	<th:block th:if="${variant == 'default'}">
		<input th:type=${type} class="mdc-text-field__input" th:name=${name} th:id=${name}>
		<label class="mdc-floating-label" th:for=${name} th:text="${label}">TextField Label</label>
		<div class="mdc-line-ripple"></div>
	</th:block>

	<th:block th:if="${variant == 'textarea'}">
		<textarea th:name=${name} th:id=${name} class="mdc-text-field__input" rows="8" cols="40"></textarea>
		<div class="mdc-notched-outline">
			<div class="mdc-notched-outline__leading"></div>
			<div class="mdc-notched-outline__notch">
				<label th:for=${name} th:text="${label}" class="mdc-floating-label">Textarea Label</label>
			</div>
			<div class="mdc-notched-outline__trailing"></div>
		</div>
	</th:block>

	<th:block th:if="${variant == 'outlined'}">
		<input th:type=${type} th:name=${name} th:id=${name} class="mdc-text-field__input">
		<div class="mdc-notched-outline">
			<div class="mdc-notched-outline__leading"></div>
			<div class="mdc-notched-outline__notch">
				<label th:for=${name} th:text="${label}" class="mdc-floating-label">Your Name</label>
			</div>
			<div class="mdc-notched-outline__trailing"></div>
		</div>
	</th:block>

</div>

</html>