<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>

	<!-- Main Footer -->

	<footer class="container-fluid main-footer" th:fragment="footer">
		<div class="container py-4 my-2 pl-5 pl-sm-0">
			<div class="row">
				<div class="col-lg-3 col-12 mt-xl-4 logo">
					<a href="/"><img alt="logo" th:src="@{/images/logo.png}"></a>
					<p>Your online bank<br>
						<i class="material-icons"> place </i>&nbsp;&nbsp;Agadal, Rabat, Maroc.
					</p>
				</div>
				<div class="col-lg-2 col-sm-6">
					<h5>Useful links</h5>
					<ul>
						<li><a href="#">Login</a></li>
						<li><a href="#">Bank tips</a></li>
						<li><a href="#">Blog</a></li>
						<li><a href="#">Policy</a></li>
					</ul>
				</div>
				<div class="col-lg-2 col-sm-6">
					<h5>About us</h5>
					<ul>
						<li><a href="#">Company Information</a></li>
						<li><a href="/#accounts-header">Our services</a></li>
						<li><a href="#">Contact us</a></li>
					</ul>
				</div>
				<div class="col-lg-2 col-sm-6">
					<h5>Support</h5>
					<ul>
						<li><a href="#">FAQ</a></li>
						<li><a href="#">Help center</a></li>
						<li><a href="#">Subscribe to our newsletter</a></li>
					</ul>
				</div>
				<div class="col-lg-3 col-sm-6">
					<h5>Social</h5>
					<p>Join us on social networks</p>
					<div class="social-networks">
						<a href="#"></a>
						<a href="#"></a>
						<a href="#"></a>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12 copyright">
				Copyright &copy;
				<script>document.write(new Date().getFullYear() + ", ");</script>
				KomiLLog. All rights reserved.
			</div>
		</div>
	</footer>

</body>
</html>