<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/mainlayout}">
<head>
<title>Account</title>
</head>
<body>

	<div layout:fragment="content" class="md-outlined-form" id="account-form">
		<div class="container py-0 py-md-4">
			<div class="row pt-4 header text-center mt-5">
				<div class="col-md-6 pt-3">
					<h3 th:text="${account != null ? 'Update account' : 'Open an account online'}">
						Open an account online
					</h3>
				</div>
			</div>
			<div class="row" th:with="formAction=${account != null} ? 
				@{/account/update/{code}(code=*{code})} : @{/account/add}">
				<div class="col-lg-6 col-md-8 pt-4 pb-5">
					<div class="mdc-card text-center px-4 py-5 px-md-5" data-aos="fade-right" data-aos-duration="800">
						<h5>Komibank Account</h5>
						<p class="mt-3 mb-2" th:text="${account != null ? 
							'Edit account informantions by filling out the form below and submitting changes' : 
							'Fill out the form below to apply for new Komibank account. We are happy to welcome 
							a new customer'}">Fill out the form below
						</p>
						<form th:action="${formAction}" method="post" autocomplete="off">
							<div class="my-4 py-1">
								<div th:replace="components/input::MDCTextField(name='customerName', 
									variant = 'outlined', class='customer-name-field', 
									readonly=${customer}, value = ${customer?.name})">
								</div>
							</div>
							<div class="my-4 py-1">
								<div th:replace="components/input::MDCTextField(name='customerEmail', type='email',
									variant = 'outlined', class='customer-email-field',
									value = ${account?.customer?.email?:customer?.email}, readonly=${customer})">
								</div>
							</div>
							<div class="my-4 py-1 mdc-menu-surface--anchor">
								<div th:replace="components/input::MDCTextField(name='accountType', 
									variant = 'outlined', class='account-type-field', readonly=true, 
									disabled=${account})">
								</div>
								<div th:replace="components/menu::MDCMenu(${ {'Savings Account', 'Current Account'} })"></div>
							</div>
							<div class="my-4 py-1">
								<div th:replace="components/input::MDCTextField(name='balance', type='number',
									value=${account?.balance}, disabled=${account}, variant = 'outlined', class='balance-field')">
								</div>
							</div>
							<th:block th:if="${account}">
								<input type="hidden" name="accountCode" th:value="${account.code}">
								<th:block th:if="${account.class.simpleName=='CurrentAccount'}">
									<div class="my-4 py-1">
										<div th:replace="components/input::MDCTextField(name='overdraft', type='number',
											value=${account?.overdraft}, variant = 'outlined', class='overdraft-field')">
										</div>
									</div>
								</th:block>
								<th:block th:if="${account.class.simpleName=='SavingsAccount'}">
									<div class="my-4 py-1">
										<div th:replace="components/input::MDCTextField(name='interestRate', type='number',
											value=${account?.interestRate}, variant = 'outlined', class='interest-rate-field')">
										</div>
									</div>
								</th:block>
							</th:block>
							<div class="d-flex justify-content-center mt-3">
								<div th:replace="components/base::MDCButton(text=${account} ? 'Apply changes' : 
									'Add new account', 
									class='submit-button', type='submit')">
								</div>					
							</div>
						</form>
						<div th:if="${accountAddException != null or accountUpdateException != null}" 
							th:text="${accountAddException?.message ?: accountUpdateException?.message}" 
							class="text-danger pt-3">Oups !!! Can't create an account !</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- Thymeleaf JS process -->
	<th:block layout:fragment="inlineScripts">
	    <script th:inline="javascript">
		    /*Thymeleaf n'affiche pas le nom complet (séparé par un espace) de customer Par exple: pour 
		    'Léon Logli', il n'affiche que 'Léon'. D'où l'utilité de passer des variables par inline JS
		    */
	    	var customerName = /*[[${account?.customer?.name}]]*/ null;
	    	var accountType = /*[[${account != null ? account.type() : param.type}]]*/ null;
		</script>
     </th:block>
</body>
</html>