<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/mainlayout}">
<head>
<title>Accounts</title>
</head>
<body>

	<!-- Caroussel full header page -->
	
	<div layout:fragment="fullHeaderPage" class="container-fluid px-0 mx-0 full-header-page">
		<div id="homeHeaderCarousel" class="carousel slide" data-ride="carousel">
			<ol class="carousel-indicators">
				<li data-target="#homeHeaderCarousel" data-slide-to="0" class="active"></li>
				<li data-target="#homeHeaderCarousel" data-slide-to="1"></li>
			</ol>
			<div class="carousel-inner">
				<div class="carousel-item active" id="home-carousel-1">
					<div class="w-100 h-100 cover-pane"></div>
					<div class="carousel-caption text-left">
						<div class="container">
							<div class="row">
								<div class="col-md-6 pt-2 px-3">
									<h1>Welcome to KomiBank</h1>
									<p>With KomiBank, banking becomes very simple and easy, <br>
									Open an account online <br>
									Consult your accounts, make transfers <br>
									</p>
									<button class="mdc-button mdc-button--raised" onclick="window.location.href='#accounts-header'">
										<span class="mdc-button__label">Let's get started</span>
										<i class="material-icons mdc-button__icon" aria-hidden="true">chevron_right</i>			
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="carousel-item" id="home-carousel-2">
					<div class="w-100 h-100 cover-pane"></div>
					<div class="carousel-caption text-left">
						<div class="container">
							<div class="row">
								<div class="col-md-6 pt-2 px-3">
									<h1>Banking, wherever and whenever you want</h1>
									<p>Your Online Banking simply and securely. Access all your online banking 
									services for free on your computer or tablet, etc.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<a class="carousel-control-prev" href="#homeHeaderCarousel" role="button" data-slide="prev"></a>
		  	<a class="carousel-control-next" href="#homeHeaderCarousel" role="button" data-slide="next"></a>
		</div>
	</div>
	
	<!-- Content -->
	
	<div layout:fragment="content" class="container-fluid">
	
		<!-- FEATURETTES SECTION -->
		
		<div class="container">
			<div class="row pb-5">
				<div class="col-lg-10 offset-lg-1 features-header text-center">
					<h2 class="mb-3">Why choose KomiBank ?</h2>
					<p>Aren't you tired of queuing up for your banking operations ? With Komibank, you have your 
					bank in your pocket. No need to move to make transactions on your account, check your balance, etc.
					Just sign in with your username and password to manage everything from one place
					</p>
				</div>
			</div>
			<div class="row features-content">
				<div class="col-lg-4 text-center">
					<i class="material-icons">public</i>
					<h4>Internet Banking</h4>
					<p>Explore the power of simpler and smarter banking. With KomiBank online, manage
					your accounts and our services whenever or wherever you want</p>
				</div>
				<div class="col-lg-4 text-center">
					<i class="material-icons">phonelink_lock</i>
					<h4>Move With Confidence</h4>
					<p>Securely manage your money with our Mobile Banking app. You can view your balance, 
					make payments, deposit cheques and much more. Note: this feature is coming soon</p>
				</div>
				<div class="col-lg-4 text-center">
					<i class="material-icons">people</i>
					<h4>Not a customer yet ?</h4>
					<p>What are you waiting for to get started with Komibank ! 
					Jump in to online banking and you can easily manage your money on-the-go
					</p>
					<button class="mdc-button mdc-button--outlined">		
						<span class="mdc-button__label">Sign up now</span>
					</button>
				</div>
			</div>
		</div>
		
	</div>
</body>
</html>